:root {
  font-family: monospace;
  --box-shadow: 2px 2px 8px #fff5;
  --input-bg: #00ffffaa;
  background-color: black;
  color: white;
}

header {
  width: 300px;
  text-align: center;
  margin: 0 auto;
}

#game {
  width: 300px;
  margin: 0 auto;
}

#gameDisplay {
  position: relative;
}

#cells {
  display: grid;
  grid-template: repeat(3, 1fr) / repeat(3, 1fr);
  width: 300px;
  height: 300px;
  gap: 5px;
  background-color: black;
}

.cell {
  font-size: 5rem;
  color: black;
  background-color: white;
  text-align: center;
  cursor: pointer;
  user-select: none;
}

#playerDisplay {
  margin-top: 2rem;
  display: grid;
  width: 300px;
  height: 100px;
  font-size: 2rem;
}

legend {
  margin-bottom: 1rem;
  font-size: 1.5rem;
  font-weight: 600;
  text-align: center;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  margin: 1.5rem 0;
}

label {
  display: block;
  margin-bottom: .5rem;
}

input, button {
  border-radius: 6px;
  border: none;
  outline: none;
  font-weight: 600;
  margin: 0;
}

input {
  padding: .3rem;
}

input:focus {
  padding: .3rem;
  box-shadow: inset 1px 1px 3px black;
}

button {
  background-color: white;
  padding: .5rem;
  cursor: pointer;
}

button:hover {
  background-color: black;
  color: white;
}

.control {
  margin-top: 2rem;
}

#playerInput, #gameControls {
  background-color: var(--input-bg);
  padding: 1rem;
  border-radius: 6px;
  box-shadow: var(--box-shadow);
}

#playerInput {
  text-align: center;
}

#gameControls {
  display: flex;
  justify-content: space-around;
}

.score span {
  font-size: 1.2rem;
}

ul.score {
  padding-right: 3rem;
}

#gameControls button {
  width: 100px;
}

#congrats {
  position: absolute;
  font-size: 2rem;
  background-color: #8a2be2dd;
  color: white;
  padding: 1rem;
  top: -1rem;
  left: -1rem;
  width: 300px;
  height: 300px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 6px;
  box-shadow: var(--box-shadow);
}

#playerInput.hidden, #gameControls.hidden, #gameDisplay.hidden, #congrats.hidden {
  display: none;
}

